<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Vets and Stuff</title>
  </head>
  <body>
    <h1>Vets and Stuff Vetinary Surgery</h1>
    <nav>
      <ul style="list-style: none;">
        <li><a href="/"><button type="button">Home</button></a></li>
        <li><a href="/vets"><button type="button">Vets</button></a></li>
        <li><a href="/clients"><button type="button">Clients</button></a></li>
        <li><a href="/pets"><button type="button">Pets</button></a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
