<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog Botherers</title>
  </head>
  <body>
    <h1>Dog Botherers Vetinary Surgery</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/vets">Vets</a></li>
        <li><a href="/pets">Pets</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
