<form action="/pets" method="post">

  <label for="client-id">Client</label>
  <select name="client_id" id="client-id">
    <% @clients.each do |client| %>
    <option value=<%= client.id %>><%= client.full_name %></option>
    <% end %>
  </select>

  <label for="name">Name</label>
  <input type="text" name="name" id="name" required>

  <label for="date-of-birth">D.o.B</label>
  <input type="text" name="date_of_birth" id="date-of-birth" required>

  <label for="species">Species</label>
  <input type="text" name="species" id="species" required>

  <label for="treatment-notes">Treatment notes</label>
  <input type="text" name="treatment_notes" id="treatment-notes" value="none" required>

  <label for="vet-id">Vet</label>
  <select name="vet_id" id="vet-id">
    <% @vets.each do |vet| %>
    <option value=<%= vet.id %>><%= vet.name %></option>
    <% end %>
    <option value="">none</option>
  </select>

  <input type="submit"  value="Register">
</form>

<footer><a href="/pets">Back</a></footer>
