<h1><%= @pet.name %></h1>
<p><a href="/pets/<%= @pet.id %>/edit">Edit details</a></p>
<form action="/pets/<%= @pet.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
<footer><a href="/pets">Back</a></footer>
