<h1>Clients</h1>
<table class="center">
  <tr>
    <th>Name</th>
    <th>contact_number</th>
    <th>email</th>
  </tr>
  <% @clients.each do |client| %>
  <tr>

    <td><a href="/clients/<%= client.id %>"><%= client.full_name %></a></td>
    <td><%= client.contact_number %></td>
    <td><%= client.email %></td>

  </tr>
  <% end %>
</table>
<p><a href="/clients/new">Add Client</a></p>
